{%extends 'base.html'%}

{%block title%}
about page
{%endblock title%}

        {%block style%}
         .about{
font-size:25px;
}

.us{
text-decoration:none;
color:white;
background-color:black;
font-size:35px;
padding:5px;
border-radius:10px;



}
        {%endblock style%}

{%block content%}
<h3 id="us">about flight:</h3>
<p class="about" >The only groups of living things that use powered flight are birds, insects, and bats, while many groups have evolved gliding. The extinct pterosaurs, an order of reptiles contemporaneous with the dinosaurs, were also very successful flying animals.[3] Each of these groups' wings evolved independently, with insects the first animal group to evolve flight.[4] The wings of the flying vertebrate groups are all based on the forelimbs, but differ significantly in structure; those of insects are hypothesized to be highly modified versions of structures that form gills in most other groups of arthropods.[3]

Bats are the only mammals capable of sustaining level flight (see bat flight).[5] However, there are several gliding mammals which are able to glide from tree to tree using fleshy membranes between their limbs; some can travel hundreds of meters in this way with very little loss in height. Flying frogs use greatly enlarged webbed feet for a similar purpose, and there are flying lizards which fold out their mobile ribs into a pair of flat gliding surfaces. "Flying" snakes also use mobile ribs to flatten their body into an aerodynamic shape, with a back and forth motion much the same as they use on the ground.

Flying fish can glide using enlarged wing-like fins, and have been observed soaring for hundreds of meters. It is thought that this ability was chosen by natural selection because it was an effective means of escape from underwater predators. The longest recorded flight of a flying fish was 45 seconds.[6]

Most birds fly (see bird flight), with some exceptions. The largest birds, the ostrich and the emu, are earthbound flightless birds, as were the now-extinct dodos and the Phorusrhacids, which were the dominant predators of South America in the Cenozoic era. The non-flying penguins have wings adapted for use under water and use the same wing movements for swimming that most other birds use for flight.[citation needed] Most small flightless birds are native to small islands, and lead a lifestyle where flight would offer little advantage.

Among living animals that fly, the wandering albatross has the greatest wingspan, up to 3.5 meters (11 feet); the great bustard has the greatest weight, topping at 21 kilograms (46 pounds).[7]

Most species of insects can fly as adults. Insect flight makes use of either of two basic aerodynamic models: creating a leading edge vortex, found in most insects, and using clap and fling, found in very small insects such as thrips.[8][9]</p>

<a href="#us" class="us">top</a>
{%endblock content%}